*{
		margin: 0;
		padding: 0;
}
html,body{
	
		background:#FFFFFF;
		font-size: 62.5%;
		max-width: 800px;
		margin:  0 auto;
}
input{
	border-radius: 0;
	border: none;
	-webkit-appearance: none;
	outline: none;
	-webkit-tap-highlight-color:rgba(255,0,0,0);
}
	
a:focus,
input:focus,
p:focus,
div:focus{
-webkit-tap-highlight-color:rgba(0,0,0,0);
-webkit-user-modify:read-write-plaintext-only; 
}
.hearder{
	
		width: 100%;
		height: 3.5rem;
		background: #FD5A63;
		color: #FFFFFF;
		font-size: 1.6rem;
		line-height: 3.5rem;
		text-align: center;
		position:relative
}
form{
				width: 80%;
				margin:  0 auto;
		
}
.verify{
	
				width: 100%;
				overflow: hidden;
				background: white;
				margin-top: 2.0rem;
	
}
form input[type='number']:nth-child(1){
	font-size: 1.2rem;
    width: 55%;
    height: 3.5rem;
    padding-left: 2%;
    padding-right: 15%;
    line-height: 2.5rem;
    float: left;
}
form input[type="text"]:nth-child(2){
	font-size: 1.2rem;
    width: 100%;
    height: 3.5rem;
    padding-left: 2%;
    padding-right:8%;
    line-height: 2.5rem;
   
   	margin-top: 2.0rem;
	
	
}
form input[type="text"]:nth-child(3){
	font-size: 1.2rem;
    width: 100%;
    height: 3.5rem;
    padding-left: 2%;
    padding-right:8%;
    line-height: 2.5rem;
   
	margin-top: 2.0rem;
	
	
}
form input[type="button"]{
	 background: #FFAB57;
    color: #FFFFFF;
    line-height: 3.5rem;
    float: right;
    font-size: 1.2rem;
    width: 25%;
	
}
form input[type="submit"]{
	
		
		
	clear: both;
	font-size: 1.2rem;
    width: 100%;
    height: 3.5rem;
    line-height: 2.5rem;
    font-size: 1.4rem;
	margin-top: 2.0rem;
	background: #FD5A63;
	border-radius: 0.5rem;
	color: white;  
	line-height: 2.5rem; 
		
}
	
	
	